<configuration>
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/sdcard/Mercury-SSH/log/mercury.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
            <FileNamePattern>mercury.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="WARN">
        <appender-ref ref="LOGFILE" />
    </root>
</configuration>