<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.skarafaz.mercury">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="it.skarafaz.mercury.MercuryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="it.skarafaz.mercury.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.skarafaz.mercury.activity.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="it.skarafaz.mercury.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.skarafaz.mercury.activity.MainActivity" />
        </activity>
        <activity
            android:name="it.skarafaz.mercury.activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="it.skarafaz.mercury.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.skarafaz.mercury.activity.MainActivity" />
        </activity>
    </application>

</manifest>
